.off-screen-menu{
  display: none;
}
.ham-menu{
  display: none;
}
nav{
  display:none;
}

body{
background-color: skyblue; 
height: 90vh;
display: grid;
grid-template-columns: 180px 1fr;
grid-template-rows: 50px 1fr;
grid-template-areas:
"header header"
"side main";
}

.header{
  background-color: skyblue;
  grid-area: header;
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.sidebar{
  background-color: black;
  grid-area: side; 

}

.sidebtn{
  display: block;
  background-color: black;
  height: 40px;
  width: 100%;
  border: solid 1px white;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-top: 10px;
  margin: auto;
}
.sidebtn:hover{
  background-color: skyblue;
  color:black;
}
.main{
  background-color: skyblue;
  grid-area: main; 
 /* border: solid 1px black;*/
}
#frm1{
  height: 90vh;
  width: 100%;
}
.mytxt{
  color: blue;
  font-size: 26px;
  padding-left: 5%;
  padding-right: 5%;
}
#img2{
  height: 30%;
  width: 46%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#img3{
  height: 30%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cards{

  margin: auto;
  width: 100px;
  padding: 40px;
  padding-top:5%;
  padding-bottom:5%;
  height: 100px
}

#tbl{
margin-left: auto;
margin-right: auto;
font-size: 30px;
color: blue;
}
#icon1{
  margin-left: 45px;
}

.popup{
  background-color: #ffffff;
  width: 40%;
  padding: 10px 10px;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top: 50%;
  border-radius: 8px;
  display: none;
}

.popup #close{
  display: block;
  margin-left: 10px;
  background-color: red;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.popup .p1{
  font-size: 30px;
  
  margin: 0 0;
}

.popup .p2{
  font-size: 20px;
  }

.popup .p3{
  display: block;
  font-size: 20px;
  height: auto;
  margin-left: 20%;

  }

.popup #close{
  display: block;
  margin-left: 45%;
}

@media only screen and (min-width: 200px) and (max-width: 1000px){
  .header {
    display: none;
  }
  .sidebar{
    display: none;
  }
  .off-screen-menu{
    display: block;
  }
  .ham-menu{
    display: block;
  }
  nav{
    display:block;
  }
  body{
    background-color: skyblue; 
    height: 90vh;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "nav"
    "main"
    
    }

    
/* base styles */
* {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #6F86FF;
}

body {
  background-color: skyblue;
  font-family: sans-serif;

}

/* off-screen-menu */
.off-screen-menu {
  background-color:  black;
  height: 50vh;
  min-height: 300px;
  max-height:420px;
  width: 100%;
  max-width: 200px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 20px;
  transition: .3s ease;
}
.off-screen-menu.active {
  right: 0;
}

/* nav */
nav {
  padding: 1rem;
  display: flex;
  background-color: black;
  width: 100%;
}

/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: 5px;
  position: relative;
  left: -5px;
  top: -20px;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #6F86FF;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.debtn{
  display: block;
  background-color: black;
  height: 60px;
  width: 100%;
  border: solid 1px white;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-top: 10px;
  margin: auto;
}
.debtn:hover{
  background-color: skyblue;
  color:black;
  }
  #img2{
    height: 54%;
    width: 81%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  #tbl{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: blue;
    margin-top: 10%;
    }
    #img3{
      height: 70%;
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .mytxt{
      color: blue;
      font-size: 22px;
      padding-left: 1%;
      padding-right: 1%;
    }
    #small{
      color: white;
      margin: auto;
      margin-right:0%;
      font-size: 20px;
  }
  
.popup .p3{
  display: block;
  font-size: 14px;
  height: auto;
  width: 80%;
  margin-left: 20px;
  }

.popup #close{
  display:block;
  margin-left: 45%;
}

}
@media only screen and (min-width: 200px) and (max-width: 300px){
  #small{
    color: white;
    margin: auto;
    margin-right:0%;
    font-size: 14px;
}
.mytxt{
  color: blue;
  font-size: 18px;
  padding-left: 1%;
  padding-right: 1%;
}
.popup{
  background-color: #ffffff;
  width: 200px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top: 50%;
  border-radius: 8px;
  display: none;
}

.popup button{
  display: block;
  margin: 0 0 0 auto;
  background-color: red;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.popup .p1{
  font-size: 30px;
  
  margin: 0 0;
}

.popup .p2{
  font-size: 20px;
}
}
.popup .p3{
  display: block;
  font-size: 14px;
  height: auto;
  width: 80%;
  margin-left: 20px;
  }

.popup #close{
  display:block;
  margin-left: 45%;
}





@media only screen and (min-width: 300px) and (max-width: 500px){
.popup{
  background-color: #ffffff;
  width: 90%;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top: 50%;
  border-radius: 8px;
  display: none;
}

.popup button{
  display: block;
  margin: 0 0 0 auto;
  background-color: red;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.popup .p1{
  font-size: 30px;
  
  margin: 0 0;
}

.popup .p2{
  font-size: 20px;
  

}

.popup .p3{
  display: inline-block;
  font-size: 14px;
  height: auto;

  }

.popup #close{
  display: inline-block;
  margin-left: 10px;
}

}



@media only screen and (max-width: 200px){
  body{
    display: none;
  }
}

