body{
  box-sizing: border-box;
  background-color:skyblue;
}

.indexbar{
  background: black;
  overflow: hidden;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  
}
.indexbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.indexbar a:hover {
  background-color: #ddd;
  color: black;
}
.indexbar a.active {
  background-color: #04AA6D;
  color: white;
}

.container{
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 1fr .8fr 1.2fr;
  grid-template-rows: .8fr 1fr 1fr 1fr .2fr;
  grid-gap: .5em;
 

grid-template-areas: 
"main main main main" 
"content1 content1 content1 content1"
"content2 content2 content7 content3" 
"content4 content4 content5 content5"
"footer footer footer footer"
}
.main{
grid-area: main;
background-color: skyblue;
color: navy;
font-size: 40px;
font-weight:bold;
text-align:center;
margin: auto;

}

#content1{
grid-area:content1;
background-color: white;
border-radius: 10px;
font-size: 28px;
font-family:'Segoe UI';
color:blue;
padding:1%;
}
#content2{
  grid-area:content2;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family:'Segoe UI';
  color:blue;
  padding:1%;
}
#content3{
  grid-area:content3;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family:'Segoe UI';
  color:blue;
  padding:1%;
}
#content4{
  grid-area:content4;
  background-color: white;
  border-radius: 10px;
  font-size: 28px;
  font-family:'Segoe UI';
  color:blue;
  padding:1%;
}
#content5{
  grid-area:content5;
  background-color: white;
  border-radius: 10px;
  font-size: 28px;
  font-family:'Segoe UI';
  color:blue;
  padding:1%;
}
#content7{
  grid-area:content7;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family:'Segoe UI';
  color:blue;
  padding:1%;
}
footer{
    grid-area:footer;
    background-color: white;
    }
.img13{
  height: 96%;
  width: 98%;
}

@media only screen and (min-width: 1200px) and (max-width: 1550px){
  body {
    background-color: skyblue;
  }
  .container{
    display:grid;
    height:100vh;
    grid-template-columns: .6fr 1fr 1.2fr 1.2fr;
    grid-template-rows: .8fr 1fr 1fr 1fr .2fr;
    grid-gap: .5em;
   
  
  grid-template-areas: 
  "main main main  
  "content1 content1 content1 content1"
  "content2 content2 content7 content3" 
  "content4 content4 content5 content5"
  "footer footer footer footer"
  }
  #content1{
    font-size: 28px;
  }
  #content2{
    font-size: 28px;
  }
  #content5{
    font-size: 28px;
  }
  #content7{
    font-size: 28px;
  }
  .img1{
  margin-left:30px;
}
footer{
    background-color: white;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px){
  body {
    background-color: skyblue;
  }
    .container{
    display:grid;
    height:100vh;
    grid-template-columns: .6fr 1fr 1.2fr 1.2fr;
    grid-template-rows: .8fr 1fr 1fr 1fr .2fr;
    grid-gap: .5em;
   
  
  grid-template-areas: 
  "main main main main" 
  "content1 content1 content1 content1"
  "content2 content2 content7 content3" 
  "content4 content4 content5 content5"
  "footer footer footer footer"
  }
  #content1{
    font-size: 25px;
  }
  #content2{
    font-size: 25px;
  }
  #content4{
    font-size: 25px;
  } 
  #content5{
    font-size: 25px;
  }
  #content7{
    font-size: 25px;
  }

  footer{
    background-color: blue;
  }
}

@media only screen and (min-width: 100px) and (max-width: 600px){
body {  
background-color: skyblue;
  }

.container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ifr 0.2fr;
  grid-template-areas:
  "main main"
  "content1 content1" 
  "content2 content2"
  "content7 content7"
  "content3 content3"
  "content4 content4"
  "content5 content5"
  "footer footer";
  grid-gap: .1em;
}

.main{
  text-align:center;
  font-size: 28px;
  font-weight:bold;
}
#content2{
  font-size: 25px;
}
#content4{
  font-size: 25px;
}
#content5{
  font-size: 25px;
}
#content7{
  font-size: 25px;
}

footer{
  background-color: red;
}
}