body{
  box-sizing: border-box;
  background-color:skyblue;
}
.membar{
  background: black;
  overflow: hidden;
  width:100%;
  position:fixed;
  Top:0;
}
.membar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.membar a:hover {
  background-color: #ddd;
  color: black;
}
.membar a.active {
  background-color: #04AA6D;
  color: white;
}

h1{
  text-align:center;
}
.btn{
background-color:blue ;
width: 50%;
height:2em;
float:left;
border:3px solid skyblue;
border-radius: 10px;
color:white;
font-size: 20px;
font-weight:bold;
}
.btn:hover{
  background-color: black;
  color:white; 
  height:2em;
}

.popup .overlay {
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display: none;
}
#titl{
  font-size:30px;
  font-weight: bold;
}

#mailE{
  font-size:20px;
  font-weight: bold;
}
#teleNum{
  font-size:25px;
  font-weight: bold;
}
#bridgeNumb{
  font-size:25px;
  font-weight: bold;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(0);
  background:#fff;
  width:90%;
  height:220px;
  border: solid black 5px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
}

.popup .close-btn {
  cursor:pointer;
  position: absolute;
  right:20px;
  top:10px;
  width:30px;
  height:30px;
  background:red;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay{
  display:block;
  }

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%, -50%) scale(1);
}

@media only screen and (min-width: 300px) and (max-width: 1000px){
  .btn{
     width: 100%;
    }
    .popup .content {
      position:fixed;
      top:50%;
      background:skyblue;
      width:450px;
      height:220px;

    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
  .btn{
     width: 50%;
    }
    .popup .content {
      position:fixed;
      top:50%;
      background:skyblue;
      width:450px;
      height:220px;

    }
}

@media only screen and (min-width: 1000px) {
  .btn{
    width: 20%;
    font-size:18px;
  }
    .popup .content {
      top:80%;
      background:skyblue;
      width:450px;
      height:220px;

    }

}

