.os {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
    height:auto;
}
@media only screen and (min-width: 700px) and (max-width: 1000px){
   .os {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -40%);
    width: 80%;
    height:auto;
} 
}
@media only screen and (min-width: 430px) and (max-width: 700px){
   .os {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -40%);
    width: 80%;
    height:auto;
} 
}
@media only screen and (max-width: 430px){
   .os {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -10%);
    width: 80%;
    height:auto;
} 
}