body{
  box-sizing: border-box;
  background-color:skyblue;
}

.resbar{
  background: black;
  overflow: hidden;
  width:100%;
  position:fixed;
  top:0;
  
}
.resbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.resbar a:hover {
  background-color: #ddd;
  color: black;
}
.resbar a.active {
  background-color: #04AA6D;
}
h1{
  color: pblack;
  text-align:center;
}
.my-butn{
  background-color:blue;
  color:white;
  border: solid 5px black;
  border-radius: 5px;
  width:22%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-top:10px;
}
.my-butn:hover{
  background-color:black;
}
.my-grid{
  background-color: skyblue;
  width:95%;
  margin-left:auto;

}
@media only screen and (min-width: 300px) and (max-width: 600px){
  .my-butn{
     width: 48%;
     font-size:20px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px){
    .btn{
     width: 33%;
    }
}