body{
    box-sizing: border-box;
    background-color:skyblue;
  }
  
  .rbbar{
    background: black;
    overflow: hidden;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    
  }
  .rbbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .rbbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .rbbar a.active {
    background-color: #04AA6D;
  }

  .rb{
    width:95%;
    margin: 20px;
  }
  #rb1{
    text-align:center;
  }
